<div data-role="content">
<%= form_for([@org, @project, @acl]) do |f| %>
  <% if @acl.errors.any? %>
    <div id="error_explanation" data-role="content" data-theme='e'>
      <h2><%= pluralize(@acl.errors.count, "error") %> prohibited this acl from being saved:</h2>

      <ul>
      <% @acl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div data-role="fieldcontain">
 	<fieldset data-role="controlgroup">
       <%= f.label :create %> <%= f.check_box :create_bit, 'class'=>"custom" %>
       <%= f.label :read %> <%= f.check_box :read_bit, 'class'=>"custom" %>
       <%= f.label :update %> <%= f.check_box :update_bit, 'class'=>"custom" %>
       <%= f.label :delete %> <%= f.check_box :delete_bit, 'class'=>"custom" %>
    </fieldset>
   <fieldset data-role="controlgroup">
        <%= f.label :entity_id %>
        <%= f.select(:entity_id, @potential_entities) %>
        <%= f.label :owned_resource_id %>
        <%= f.select(:owned_resource_id, @potential_owned_resources) %>
        <%= f.label :route %>
        <%= f.text_field(:route, :style =>"width: 400px") %>
    </fieldset>
</div>

  <div class="actions">
    <%= f.submit "Assign" %>
  </div>
<% end %>
</div>