<div data-role="content">
  <%= form_for([@org, @project, @acl]) do |f| %>
      <% if @acl.errors.any? %>
          <div id="error_explanation" data-role="content" data-theme='e'>
            <h2><%= pluralize(@acl.errors.count, "error") %> prohibited this acl from being saved:</h2>

            <ul>
              <% @acl.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>


      <div data-role="fieldcontain">
        <fieldset data-role="controlgroup">
          <%- if @acl.create? %>
            <input type="checkbox" name="acl[create_bit]" id="acl[create_bit]" class="custom" checked/>
          <%- else %>
              <input type="checkbox" name="acl[create_bit]" id="acl[create_bit]" class="custom"/>
          <% end %>
          <label for="acl[create_bit]">Create</label>
          <%- if @acl.read? %>
              <input type="checkbox" name="acl[read_bit]" id="acl[read_bit]" class="custom" checked/>
          <%- else %>
              <input type="checkbox" name="acl[read_bit]" id="acl[read_bit]" class="custom"/>
          <% end %>
          <label for="acl[read_bit]">Read</label>
          <%- if @acl.read? %>
              <input type="checkbox" name="acl[update_bit]" id="acl[update_bit]" class="custom" checked/>
          <%- else %>
              <input type="checkbox" name="acl[update_bit]" id="acl[update_bit]" class="custom"/>
          <% end %>
          <label for="acl[update_bit]">Update</label>
          <%- if @acl.delete? %>
              <input type="checkbox" name="acl[delete_bit]" id="acl[delete_bit]" class="custom" checked/>
          <%- else %>
              <input type="checkbox" name="acl[delete_bit]" id="acl[delete_bit]" class="custom"/>
          <% end %>
          <label for="acl[delete_bit]">Delete</label>
        </fieldset>
        <fieldset data-role="controlgroup">
          <%= f.label :entity_id %>
          <%= f.select(:entity_id, @potential_entities) %>
          <%= f.hidden_field :entity_type %>
          <%= f.label :owned_resource_id %>
          <%= f.select(:owned_resource_id, @potential_owned_resources) %>
          <%= f.label :route %>
          <%= f.text_field(:route, :style =>"width: 400px") %>
        </fieldset>
      </div>

      <div class="actions">
        <%= f.submit "Save" %>
      </div>
  <% end %>
</div>