<div data-role="content">
<%= form_for([@org, @project, @acl]) do |f| %>
  <% if @acl.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@acl.errors.count, "error") %> prohibited this acl from being saved:</h2>

      <ul>
      <% @acl.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


 <div data-role="fieldcontain">
 	<fieldset data-role="controlgroup">
		<input type="checkbox" name="acl[create_bit]" id="create_bit" class="custom" />
		<label for="create_bit">Create</label>
		<input type="checkbox" name="acl[read_bit]" id="read_bit" class="custom" />
		<label for="read_bit">Read</label>
		<input type="checkbox" name="acl[update_bit]" id="update_bit" class="custom" />
		<label for="update_bit">Update</label>
		<input type="checkbox" name="acl[delete_bit]" id="delete_bit" class="custom" />
		<label for="delete_bit">Read</label>
    </fieldset>
   <fieldset data-role="controlgroup">
        <%= f.label :entity_id %>
        <%= f.select(:entity_id, @potential_entities) %>
        <%= f.label :owned_resource_id %>
        <%= f.select(:owned_resource_id, @potential_owned_resources) %>
        <%= f.label :route %>
        <%= f.text_field(:route, :style =>"width: 400px") %>
    </fieldset>
</div>

  <div class="actions">
    <%= f.submit "Assign" %>
  </div>
<% end %>
</div>