<div data-role="content">
  <%= form_for([@org, @project, @acl]) do |f| %>
      <% if @acl.errors.any? %>
          <div id="error_explanation" data-role="content" data-theme='e'>
            <h2><%= pluralize(@acl.errors.count, "error") %> prohibited this acl from being saved:</h2>

            <ul>
              <% @acl.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <%= f.hidden_field :entity_type %>

      <div class="field" data-role="fieldcontain">
        <%= f.label :create_bit, :for => :create_bit %>
        <%= check_box_tag :create_bit, 1, @acl.create_bit %>
      </div>

      <div class="field" data-role="fieldcontain">
        <%= f.label :read_bit, :for => :read_bit %>
        <%= check_box_tag :read_bit, 1, @acl.read_bit %>
      </div>

      <div class="field" data-role="fieldcontain">
        <%= f.label :update_bit, :for => :update_bit %>
        <%= check_box_tag :update_bit, 1, @acl.update_bit %>
      </div>

      <div class="field" data-role="fieldcontain">
        <%= f.label :delete_bit, :for => :delete_bit %>
        <%= check_box_tag :delete_bit, 1, @acl.delete_bit %>
      </div>

      <div class="field" data-role="fieldcontain">
        <%= f.label :entity_id %>
        <%= f.select(:entity_id, params[:entity_type] == 'User' ? potential_users(@org) : potential_groups(@org)) %>
      </div>

      <div class="field" data-role="fieldcontain">
        <%= f.label :owned_resource_id %>
        <%= f.select(:owned_resource_id, potential_owned_resources(@org)) %>
      </div>

      <div class="field" data-role="fieldcontain">
        <%= f.label :route %>
        <%= f.text_field(:route, :style =>"width: 400px") %>
      </div>

      <div class="actions">
        <%= f.submit "Save" %>
      </div>

      <%= link_to 'Cancel', org_project_acls_path(@org, @project), 'data-role' =>'button' %>

  <% end %>
</div>