<%- content_for :header do %>
  <%=link_to @project.display_name, org_project_path(@org, @project), :class => "ui-btn-left" %>
  <h1>Listing ACLs</h1>
<% end-%>

<div data-role="content">
  <h3>Give Access:</h3>
  <%= link_to 'To Group', new_org_project_acl_path(@org, @project, :entity_type => 'Group'), 'data-role'=>"button", 'data-inline'=>"true" %>
  <%= link_to 'To User', new_org_project_acl_path(@org, @project, :entity_type => 'User'), 'data-role'=>"button", 'data-inline'=>"true" %>

  <h3>Existing Access:</h3>
  <%- @entities.each do |key, acls| %>
    <h4><%=key%> has</h4>
    <%= render 'acl_for_entity', :acls => acls %>
  <%- end %>

</div>