<div data-role="header">
    <%= link_to 'Home', home_index_path, :class => 'ui-btn-left', "data-icon" => "home" %>
    <h1>Organizations</h1>
    <%= link_to 'New Organization', new_org_path, :class => 'ui-btn-right', "data-icon" => "plus"  %>
</div>

<div data-role="content">
<ul data-role="listview" data-inset="true">
<% @orgs.each do |org| %>
      <!-- <img src="<%= org.avatar %>" -->
  <li><%= link_to org.display_name, org %><p><%= org.description %></p></li>
<% end %>
</ul>
</div>


