<div data-role="header">
  <%= link_to 'Back', orgs_path, :class => 'ui-btn-left' %>
  <h1><%= @org.display_name %></h1>
  <%= link_to 'Edit', edit_org_path(@org), :class => 'ui-btn-right' %>
</div>

<div data-role="content">
<p><%= @org.description %></p>


<ul data-role="listview" data-inset="true" >
  <li data-role="list-divider">Permissions</li>
  <li><%= link_to 'Groups', org_groups_path(@org) %></li>
  <li><%= link_to 'Projects', org_projects_path(@org) %></li>
  <li data-role="list-divider">Resources</li>
    <li><%= link_to 'Apps', org_owned_resources_path(@org, :resource_type=> 'App') %></li>
    <li><%= link_to 'Services', org_owned_resources_path(@org, :resource_type=> 'Service') %></li>
</ul>


</div>