<p id="notice"><%= notice %></p>


<p>
  <b>Avatar:</b>
  <%= @org.avatar %>
</p>

<p>
  <b>Display name:</b>
  <%= @org.display_name %>
</p>

<p>
  <b>Description:</b>
  <%= @org.description %>
</p>


<%= link_to 'Edit', edit_org_path(@org) %> |
<%= link_to 'Back', orgs_path %> |
<%= link_to 'Groups', org_groups_path(@org) %> |
<%= link_to 'Projects', org_projects_path(@org) %>
