<%= form_for(@resource_assignment) do |f| %>
  <% if @resource_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_assignment.errors.count, "error") %> prohibited this resource_assignment from being saved:</h2>

      <ul>
      <% @resource_assignment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :permission_set %><br />
    <%= f.text_field :permission_set %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :entity_id %><br />
    <%= f.text_field :entity_id %>
  </div>
  <div class="field">
    <%= f.label :entity_type %><br />
    <%= f.text_field :entity_type %>
  </div>
  <div class="field">
    <%= f.label :resource_ownership_id %><br />
    <%= f.text_field :resource_ownership_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
