<p id="notice"><%= notice %></p>

<p>
  <b>Permission set:</b>
  <%= @resource_assignment.permission_set %>
</p>

<p>
  <b>Project:</b>
  <%= @resource_assignment.project_id %>
</p>

<p>
  <b>Entity:</b>
  <%= @resource_assignment.entity_id %>
</p>

<p>
  <b>Entity type:</b>
  <%= @resource_assignment.entity_type %>
</p>

<p>
  <b>Resource ownership:</b>
  <%= @resource_assignment.resource_ownership_id %>
</p>


<%= link_to 'Edit', edit_resource_assignment_path(@resource_assignment) %> |
<%= link_to 'Back', resource_assignments_path %>
