<h1>Listing groups for <%= link_to @org.display_name, @org %></h1>

<table>
  <tr>
    <th>Display name</th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.display_name, org_group_path(@org, group) %></td>
    <td><%= link_to 'Edit', edit_org_group_path(@org, group) %></td>
    <td><%= link_to 'Destroy', org_group_path(@org, group), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_org_group_path(@org) %>
