<%- content_for :header do %>
    <h1>App Gallery</h1>
<% end -%>
<div data-role="content">
  <div class="home">
    <div class="homebox">
      <div class="homebuddy">
        <a href="<%= user_path(current_user) %>"><img src="<%= current_user.avatar_url %>"/></a>
        <h3>Welcome <%= link_to current_user.first_name, user_path(current_user) %></h3>
      </div>
      <br/>
      <p>&nbsp;</p>
      <div class="homep">
        In this gallery you will be able to showcase your code and collaborate with other developers.
        We put special attention to highlight your skills in different services and in
        different frameworks.
      </div>
    </div>
    <div class="homebox">
      <h3>To get started</h3>
        <ol>
          <li>Add or import your <%= link_to 'Cloud Foundry Apps', apps_path %></li>
          <li>Link them to your <%= link_to 'GitHub', 'http://github.com', 'rel' =>'external' %> Repos</li>
          <li>Link them to your <%=link_to 'Facebook Apps', 'https://developers.facebook.com/apps', 'rel' => 'external' %></li>
          <li>Write some new features</li>
          <li>Share with your friends and followers</li>
          <li>Respond to feedback and repeat</li>
        </ol>
    </div>
    <div class="homebox">
      <h3>Security</h3>
      <p>By default when you created your account you were given
        a <%= link_to 'Personal Organization', current_user.personal_org ? org_path(current_user.personal_org) : '' %>.
        Note that you can always create more <%= link_to 'organizations', orgs_path %> to manage permissions, as well
        as be invited by someone else to be part of an organization.</p>
    </div>
  </div>
</div>