<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :organization_id %><br />
    <%= f.text_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :apply_to_all_resources %><br />
    <%= f.check_box :apply_to_all_resources %>
  </div>
  <div class="field">
    <%= f.label :browsable %><br />
    <%= f.check_box :browsable %>
  </div>
  <div class="field">
    <%= f.label :public_roster %><br />
    <%= f.check_box :public_roster %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
