<p id="notice"><%= notice %></p>

<p>
  <b>Display name:</b>
  <%= @project.display_name %>
</p>

<%= link_to 'Edit', edit_org_project_path(@org, @project) %> |
<%= link_to 'Back', org_projects_path(@org) %>  |
<%= link_to 'ACLs', org_project_acls_path(@org, @project) %>
