<div data-role="content">
<%= form_for(@app) do |f| %>
  <% if @app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% @app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :display_name %><br />
    <%= f.text_field :display_name %>
  </div>
  <div class="field">
    <%= f.label :framework %><br />
    <%= f.text_field :framework %>
  </div>
  <div class="field">
    <%= f.label :runtime %><br />
    <%= f.text_field :runtime %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
 </div>