<%- content_for :header do %>
  <%= link_to 'Import Cloud Foundry Apps', import_apps_path, :class => 'ui-btn-left', "data-icon" => "gear" %>
  <h1>Applications</h1>
  <%= link_to 'New App', new_app_path, :class => 'ui-btn-right', "data-icon" => "plus" %>
<%- end %>


<div data-role="content">
<%-if @apps.count > 0 %>
<p>This is the current list of applications that you can access:</p>
<ul data-role="listview" data-inset="true">
<% @apps.each do |app| %>
  <li>
    <h3><%= link_to app.display_name, edit_app_path(app) %></h3>
    <p><%= app.state %></p>
    <p><%= (app.latest_health_snapshot) ? app.latest_health_snapshot.percentage : '?' %> % running</p>
  </li>
<% end %>
</ul>
<%- else %>
<p>You do not have any applications. Get started by creating a <%= link_to 'New App', new_app_path %></p>
<%- end %>
</div>


