<%- content_for :header do %>
  <%= link_to 'Import Cloud Foundry Apps', import_apps_path, :class => 'ui-btn-left', "data-icon" => "gear", :rel => 'external' %>
  <h1>Applications</h1>
  <%= link_to 'New App', new_app_path, :class => 'ui-btn-right', "data-icon" => "plus" %>
<%- end %>


<div data-role="content">
<%-if @apps.count > 0 %>
<p>This is the current list of applications that you can access:</p>
<ul data-role="listview" data-inset="true">
<% @apps.each do |app| %>
  <li>
    <a href="<%= edit_app_path(app) %>">
    <h3><%= app.display_name %></h3>
    <p><%= app.state %></p>
    <p><%= (app.latest_health_snapshot) ? app.latest_health_snapshot.percentage : '?' %> % running</p>
    <div class="fb-like" data-href='<%= "http://#{app.url}" %>' data-send="true" data-width="350" data-show-faces="false"></div>
    </a>
    <%= link_to 'Visit', "http://#{app.url}", :target=>'_blank', :rel => 'external', 'data-role'=>'button', 'data-inline' => 'true' %>
  </li>
<% end %>
</ul>
<%- else %>
<p>You do not have any applications. Get started by creating a <%= link_to 'New App', new_app_path %></p>
<%- end %>
</div>


