<%- content_for :header do %>
  <%= link_to 'Back', apps_path, :class => 'ui-btn-left' %>
  <h1><%= @app.display_name %></h1>
  <%= link_to 'Edit', edit_app_path(@app), :class => 'ui-btn-right'%>
<%- end %>

<div data-role="content">
<%= form_for(@app) do |f| %>
 <div class="field" data-role="fieldcontain">
    <%= f.label :display_name %><%= f.text_field :display_name %>
  </div>
  <div class="field" data-role="fieldcontain">
    <%= f.label :framework %><%= f.text_field :framework %>
  </div>
  <div class="field" data-role="fieldcontain">
    <%= f.label :runtime %><%= f.text_field :runtime %>
  </div>
  <div class="field" data-role="fieldcontain">
   <%= f.label :project_id %><%= f.select :project_id, @projects %>
  </div>
<%- end %>
</div>