<div data-role="content">
  <%= form_for([@org, @owned_resource]) do |f| %>
  <% if @owned_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@owned_resource.errors.count, "error") %> prohibited this owned_resource from being saved:</h2>

      <ul>
      <% @owned_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :resource_id %><br />
    <%= f.select :resource_id, App.all.collect{|a|[a.display_name,a.id]} %>
  </div>
  <input type="hidden" value="<%= params['resource_type'] %>" name='resource_type' />

  <div class="field">
    <%= f.label :marked_for_transfer %><br />
    <%= f.check_box :marked_for_transfer %>
  </div>
  <div class="field">
    <%= f.label :deleted %><br />
    <%= f.check_box :deleted %>
  </div>
  <div class="actions">
    <%= f.submit "Assign Resource" %>
  </div>
<% end %>
</div>