<%- content_for :header do %>
  <%= link_to @user.display_name, user_path(@user), :class => 'ui-btn-left', "data-icon" => "user" %>
  <h1>Access Tokens</h1>
<%- end %>

<div data-role="content">
<ul data-role="listview" data-inset="true">
<% @tokens.each do |token| %>
  <li><a title="<% token.token %>" hreg="http://<%=token.provider%>.com" rel="dialog"><%= token.provider %> | <%= token.external_id %>
  <p class="ui-li-aside"><strong><%= token.created_at %></strong></p>
  </a>
  <%= link_to 'Destroy', user_access_token_path(@user, token.id), :confirm => 'Are you sure?', :method => :delete, 'data-icon'=>"delete"%>

  </li>
<% end %>
</ul>

  <ul data-role="listview" data-inset="true">
    <%- User.omniauth_providers.each do |provider| %>
        <% css_class = 'gear' %>
        <%- if current_user.external_identities.include? provider %>
            <% css_class = 'check' %>
        <% end %>
        <li><%= link_to "Add #{provider.to_s.titleize}", omniauth_authorize_path("user", provider), :rel => 'external', 'data-icon' => css_class, 'data-inline' => true %></li>
    <% end -%>
  </ul>
</div>



