<!DOCTYPE html>
<html>
<head>
  <title>Collaboration</title>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.css" />
  <script src="http://code.jquery.com/jquery-1.6.2.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0b2/jquery.mobile-1.0b2.min.js"></script>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body data-role="page">
<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>


<%= yield %>

<div data-role="footer" class="ui-bar">
<%- if current_user %>
<%= link_to "Logout #{current_user.display_name}", "/users/sign_out", 'data-role'=>"button", 'data-icon'=>"delete"  %>
<%- else %>
 <h1>Collaborate on GitHub</h1>
<%- end %>
    </div>
</body>
</html>
